html {
  background-image: linear-gradient(to right bottom, #000000, #090909, #111111, #161616, #1b1b1b, #27282a, #34353a, #3f444a, #51626a, #658385, #7fa49a, #a6c4aa);
  color: #2ac56d;
  min-height: 100%;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.players {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.p1, .p2 {
  display: flex;
  align-items: center;
  gap: .4rem;
}

label {
  font-size: 2rem;
}

#gameBoard {
  display: grid;
  grid-template-columns: 11rem 11rem 11rem;
  grid-template-rows: 11rem 11rem 11rem;
  gap: .5rem;
  margin-bottom: 1.5rem;
  max-width: 35rem;
}

#gameBoard span {
  background-color: #ddd;
  display: grid;
  place-content: center;
  font-size: 5rem;
  border-radius: 50%;
}

#gameBoard span.win {
  background-color: #25a340;
  color: #ddd;
}

#start {
  background-color: #25a340;
  color: black;
  padding: .3rem;
  width: 100%;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: 0.4s;
}

#start:hover {
  background-color: #1ae045;
  cursor: pointer;
}

.cursor-pointer { 
  cursor: pointer;
}

@media (max-width: 768px) {
  #gameBoard {
    grid-template-columns: 7rem 7rem 7rem;
    grid-template-rows: 7rem 7rem 7rem;
  }
}
@media (max-width: 425px) {
  .players {
    display: flex;
    flex-direction: column;
    gap: .2rem;
  }
  #gameBoard {
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
  }
  #gameBoard span {
    font-size: 3rem;
  }
}